html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;

  font-family: "Fjalla One", sans-serif;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

.nav {
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
}

.block {
  text-align: center;
  margin: 30px;
}

.block_row {
  display: inline-flex;
  flex-direction: column;
  /*justify-content: center;*/
}

h4 {
  font-family: "Fjalla One", sans-serif;
  font-size: 45px;
}
h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
}
h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 50px;
}

h1,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4 {
  letter-spacing: 0.2em;
}

input {
  font-family: "Fjalla One", sans-serif;
  padding: 0;
  border-width: 1;
  border-style: 0;
  border-color: lightsteelblue;
  width: 170px;
  height: 48px;
  font-size: 25px;
  background-color: rgb(55, 22, 109);
  color: white;
  border-radius: 5px;
}
.btn {
  font-family: "Fjalla One", sans-serif;
  width: 170px;
  height: 48px;
  padding: 0;
  margin: 0;
}

::-webkit-input-placeholder {
  color: rgb(52, 202, 202);
  font-family: "Fjalla One";
  font-size: 20px;
}
::-moz-placeholder {
  color: rgb(52, 202, 202);
  font-family: "Fjalla One";
  font-size: 20px;
}
:-ms-input-placeholder {
  color: rgb(52, 202, 202);
  font-family: "Fjalla One";
  font-size: 20px;
}
:-moz-placeholder {
  color: rgb(52, 202, 202);
  font-family: "Fjalla One";
  font-size: 20px;
}
