html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;

  font-family: "Fjalla One", sans-serif;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

h4 {
  font-family: "Fjalla One", sans-serif;
  font-size: 45px;
}
h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
}
h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 50px;
}

h1,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4 {
  letter-spacing: 0.2em;
}

input {
  font-family: "Fjalla One", sans-serif;
  padding: 0;
  border-width: 1;
  border-style: 0;
  border-color: lightsteelblue;
  width: 159px;
  height: 48px;
  font-size: 28px;
  background-color: mediumblue;
  color: white;
}
.btn {
  font-family: "Fjalla One", sans-serif;
}

::-webkit-input-placeholder {
  color: rgb(97, 163, 207);
  font-family: "Fjalla One";
  font-size: 22px;
}
::-moz-placeholder {
  color: rgb(97, 163, 207);
  font-family: "Fjalla One";
  font-size: 22px;
}
:-ms-input-placeholder {
  color: rgb(97, 163, 207);
  font-family: "Fjalla One";
  font-size: 22px;
}
:-moz-placeholder {
  color: rgb(97, 163, 207);
  font-family: "Fjalla One";
  font-size: 22px;
}
