html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Fjalla One", sans-serif;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

h4 {
  font-family: "Fjalla One", sans-serif;
  font-size: 45px;
}
h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
}
h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 50px;
}

h1,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4 {
  letter-spacing: 0.2em;
}

input {
  font-family: "Fjalla One", sans-serif;
}
.btn {
  font-family: "Fjalla One", sans-serif;
}
